body{
    background-color: #0066cc;
}
.image{
    max-width: 10%;
    height: auto;
}
.logo:hover img{
    opacity: 0.7;
}
.container{
    background-color: #0066cc;
    color: #fff;
    border-radius: 20px;
}
.container a{
    color: #fff;
}
@media (max-width: 768px){
    .image{
        max-width: 25%;
    }
}
footer{
    color: #0066cc;
    bottom: 0%;
}