img{
    max-width: 10%;
    height: auto;
    float: left;
}
.logo:hover img{
    opacity: 0.7;
}
b{
    color: #000;
}
@media (max-width: 768px){
    img{
        max-width: 15%;
    }
}